body {
    width: 40vw;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 8px;
    min-height: calc(100vh - 16px);
}

:link {
    color: var(--link);
}

:visited {
    color: var(--visited);
}
